setuptools==58.0.0
bitarray==1.6.3
cachetools==4.1.0
cython==0.29.21
intervaltree==3.1.0
joblib==0.16.0
matplotlib==3.2.1
numpy==1.18.5
opencv-python==4.5.1.48
pandas==1.0.5
pycocotools==2.0.4
pyfaidx==0.5.9.5
pysam==0.16.0.1
pytabix==0.1
python-dateutil==2.8.1
pyyaml==5.3.1
seaborn==0.11.0
torch==1.12.0+cu116
torchaudio==0.5.1
torchvision==0.13.0+cu116
jupyter
